body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;   
}

/* Review */
.gallery-block{
    padding-top: 50px;
    padding-bottom: 100px;
}
/* Slideshow container */
.gallery-container {
    position: relative;
    margin: auto;
    height: 900px;
    width: 100%;
  }
  .gallery-container img{
    width: 100%;
}
  
  /* Hide the text by default */
  .gallery-mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .gallery-prev, .gallery-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .gallery-next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  /* On hover, add a black background color with a little bit see-through */
  .gallery-prev:hover, .gallery-next:hover {
    background-color: rgba(0,0,0,0.3);
  }
  
  /* The dots/bullets/indicators */
  .gallery-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  
  /* Fading animation */
  .gallery-fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .content-gallery{
   margin-top: 40px;
   margin-bottom: 90px;
  }
  .content-gallery img {
    padding-left: 57px;
    padding-top: 50px;
    height: 400px;
    width: 400px;
  }
 